nav {
  width: 100%;
  height: 65px;
  display: flex;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;

  background-color: #fff;

  #profile,
  #favicon,
  #window {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #profile:hover,
  #window:hover {
    background-color: rgba(202, 202, 202, 0.3);
    cursor: pointer;
  }

  #profile {
    width: 50px;
  }
  #profile img {
    width: 30px;
    height: fit-content;
  }

  #favicon {
    flex: 1;
  }
  #favicon img {
    width: 148px;
    height: fit-content;
  }

  #window {
    width: 50px;
  }
  #window img {
    width: 18px;
    height: fit-content;
  }

  &[sizeMode='side'] {
    display: grid;
    grid-template-columns: 1fr 50px 50px;

    #favicon {
      grid-column: 1 / 2;
      grid-row: 1;
      justify-content: start;
      padding-left: 2rem;
    }
    #window {
      grid-column: 2 / 3;
    }
    #profile {
      grid-column: 3 / 4;
    }
  }

  &[theme='dark'] {
    background-color: #333333;

    #profile:hover,
    #window:hover {
      background-color: rgba(202, 202, 202, 0.3);
      cursor: pointer;
    }
  }
}
