.first-tab-container {
  height: 72px;
}
.first-fav-icon-container {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* should set z-index so .mode-decorator can show even the .rest opened */
    z-index: 999;
  }
  
  .first-fav-icon-container .mode-decorator {
    position: absolute;
    top:0;
    left:0;
    width: 7px;
    height: 100%;
    background-color: #FECC9D;
    border-radius: 7px 0 0 7px;
    transition: ease 300ms;
  }
  
  .first-fav-icon-container img {
    width: 32px;
    height: 32px;
    display: block;
  }
  
  .first-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    padding-right: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .first-text-container h1 {
    font-weight: bold;
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .first-text-container a {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .rest-tab-container {
    display: flex;
    align-items: center;
    padding: 4px 5px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 999px;
    transition: ease 300ms;
    cursor: pointer;
    position:relative
  }
  
  .rest-tab-container:hover {
    background-color: rgba(217, 217, 217, 0.8);
  }
  
  .rest-fav-icon-container {
    margin: 0 10px;
  }
  .rest-fav-icon-container img {
    width: 14px;
    height: 14px;
    display: block;
  }
  
  .rest-text-container {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .rest-tab-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    transition: ease 300ms;
    opacity: 0;
    cursor: pointer;
  }
  .rest-tab-container[hover] button {
    opacity: 1;
    z-index: 999;
  }