* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;

  &,
  .select-header {
    border: 0.5px solid black;
  }

  .select-header {
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    width: 100%;
    height: 39px;
    display: grid;
    grid-template-columns: auto 38px;
    vertical-align: middle;
    padding-left: 1rem;

    &:hover {
      background-color: #e3e3e3;
    }

    span,
    button {
      display: inline-block;
    }

    span {
      display: flex;
      align-items: center;
    }

    button {
      width: 100%;
      height: 100%;
      border: none;
      transition: ease 300ms;
      border-radius: 0 7px 7px 0;
      text-align: center;
      background-color: transparent;
      cursor: pointer;

      svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        transition: ease 300ms;
      }

      &[clicked='true'] {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .select-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: ease 300ms;

    li {
      padding: 10px 1rem;
      display: inline-block;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: #e3e3e3;
      }

      &[selected='true'] {
        font-weight: bold;
      }

      i > svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  // dark mode theme
  &[theme='dark'] {
    background-color: #333333;
    color: #fff;

    &,
    .select-header {
      border: 0.5px solid #fff;
    }
    .select-header {
      &:hover {
        background-color: #1d1d1d;
      }
      svg path{
        fill: #fff;
      }
    }

    .select-box {
      li {
        &:hover {
          background-color: #1d1d1d;
        }

        i > svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
