#search-icon {
    position: fixed;
    bottom: 9px;
    right: 9px;
    width: 52px;
    height: 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.85px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 18px;
    z-index: 999;
    transition: ease 300ms;
    
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        filter: brightness(93%);
    }

    & div > svg {
        width: 18px;
        height: 18px;
    }

    &[status=loading] {
        // cursor: not-allowed;
        background: rgba(98, 99, 105, 0.83);

        .ready {
            display: none;
        }
    }
    
    &[status=ready] {
        cursor: pointer;
        background: rgba(78, 99, 247, 0.83);

        .loading {
            display: none;
        }
    }
}