.matched-tab-container {
  display: grid;
  grid-template-columns: 72px auto;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: ease 300ms;  
}

.fav-icon-container {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* should set z-index so .mode-decorator can show even the .rest opened */
  z-index: 999;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 1rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  > h1 {
    font-weight: bold;
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
  }
  
  > a {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.info-container {
  grid-column: 1 / 3;
  position: relative;
  padding: 8px 1rem;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: #e3e3e3 solid 1px;

  li {
    padding: 3px 0;
    display: flex;

    // highlight
    b {
      color: #F83F4B;
      font-weight: 900;
    }

    .tag {
      width: fit-content;
      font-size: 11px;
      font-weight: normal;
      padding: 2px 8px;
      border-radius: 999px;
      color: #f8f8f8;
      margin-right: 10px;
    }
    .title {
      background-color: #4299FF;
    }
    .url {
      background-color: #FFBB7A;
    }
    .text-content {
      background-color: #894AAE;
    }
    p {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover {
    filter: brightness(97%);
  }
}

.matched-tab-container[sizeMode='tablet'] {
  // max-width: ;
}
.matched-tab-container[sizeMode='side'] {}